#root {
  display: flex;
  justify-content: center;
}

.main {
  width: 50%;
  height: 100vh;
}

.calComp {
  background: #e0e0e0;
  border: #c5c5c5 1px solid;
  padding: 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
}

.num0 {
  grid-column: 1 / 3;
}

.showData {
  background-color: #858694;
  border: #c5c5c5 2px solid;
  height: 50px;
}

.operations {
  display: flex;
  height: 150px;
}

.opeComp {
  background: #f5913e;
  padding: 20px;
  border: #c5c5c5 1px solid;
  text-align: center;
}

.operation {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
